@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
  Layout = "Views/shared/layout";
  ViewBag.Title = Model.Uploader.Name.FirstName;
}

@{
  var profileImageLink = "https://graph.facebook.com/" + @Model.Uploader.UserId + "/picture?width=480&height=480";
  var commentLink = "https://localtest.me:3000/user/" + @Model.Uploader.UserId;
     
}

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-6 column">
          <h3 class="text-center">
            @Model.Uploader.Name.FirstName @Model.Uploader.Name.LastName
          </h3>
          <img src="@profileImageLink" alt="profile link" />
          <div class="fb-comments" data-href="@commentLink" data-width="480" data-numposts="10" data-colorscheme="light"></div>
        </div>
      </div>
      <div class="col-md-2 column">
        <form action="/" id="buyForm">
          <input type="text" name="s" placeholder="@Model.Image.Price">
          <input type="submit" value="Own!">
        </form>
      </div>
    </div>
  </div>
</div>
